@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: roboto;
    src: url(../public/fonts/roboto.ttf);
}

body{
    font-family: "roboto";
}

.dp__input_icon{
    display: none !important;
}
.dp__input{
    padding: 4px !important;
    border-radius:0px !important;
    width: 221px !important;
}